<h1 style="font-family: Maven Pro">Change the theme of Stateviate</h1>
<h3 class="text-muted" style="font-family: Maven Pro">Add a little jazz into your abbreviating.</h3>
<form name="changetheme">
  <input type="text" placeholder="Enter color here" name="bgTheme">
  <input type="button" value="Click to change theme" onclick="changeColor()">
</form>
<h3><a href="search_states">Now let's search a state &rarr;</a></h3>



<!-- <select name="dropdown" size="10">
  <option value="red"> Red </option>
  <option value="orange"> Orange </option>
  <option value="yellow"> Yellow </option>
  <option value="green"> Green </option>
  <option value="blue"> Blue </option>
  <option value="indigo"> Indigo </option>
  <option value="violet"> Violet </option>
</select> -->