<div class="container">
  <div class="col-md-12">
    <h1>Search or speak a state abbreviation:</h1>
    <form class="navbar-form" role="search" action="/states">
        <div class="form-group">
          <input type="text" class="form-control" name="search" placeholder="e.g. IL" speech>
          <script>
            var recognition = new webkitSpeechRecognition();
                recognition.continuous = true;
                recognition.interimResults = true;
                recognition.onresult = function(event) { 
                  console.log(event) 
                }
                recognition.start();
          </script>
        </div>
        <button type="submit" class="btn btn-default">Go</button>
     </form>
  </div>
</div>