<div class="footer-push">  
  <div class="container-fluid">
     <h2>Welcome to Stateviate.</h2>
     <h4 class="text-muted col-md-6 col-md-offset-3">Stateviate's a state abbreviation tool meant to help you figure out which state has which abbreviation. So you will never need to refer to a map again.</h4>
  </div>
  <p><a class="btn btn-primary btn-lg" role="button" href="/states">Get an abbreviation &rarr;</a></p>
</div>